{% extends 'home/base2.html' %}
{%  load static %}
{% if user.is_authenticated%}
    {%  block title %} My Timeline {% endblock %}
    <!-- Stylesheets
    ================================================= -->
    {% block styles %}
{#        <link href="{% static 'css/emoji.css' %}" rel="stylesheet">#}
    {% endblock %}

    {% block body %}

        <div class="container">

        <!-- Timeline
        ================================================= -->
        <div class="timeline">

        <div id="page-contents">
        <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">

        <!-- Post Create Box
        ================================================= -->
        <div class="create-post">
            <div class="row">
                <div class="col-md-7 col-sm-7">
                    <div class="form-group">
                        <img src="http://placehold.it/300x300" alt="" class="profile-photo-md" />
                        <textarea name="texts" id="exampleTextarea" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5">
                    <div class="tools">
                        <ul class="publishing-tools list-inline">
                            <li><a href="#"><i class="ion-compose"></i></a></li>
                            <li><a href="#"><i class="ion-images"></i></a></li>
                            <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                            <li><a href="#"><i class="ion-map"></i></a></li>
                        </ul>
                        <button class="btn btn-primary pull-right">Publish</button>
                    </div>
                </div>
            </div>
        </div><!-- Post Create Box End-->
    {% endblock %}
{% endif %}

